.spinningSphere {
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: 0;
    left: -20%;
    top: -70%;
}

@media (max-width: 1350px) {
    .spinningSphere {
        width: 500px;
        height: 500px;
        left: -15%;
        top: -25%;
    }
}

/*@media (max-width: 901px) {*/
/*    .spinningSphere {*/
/*        width: 500px;*/
/*        height: 500px;*/
/*        right: -35%;*/
/*        left: auto;*/
/*        top: auto;*/
/*        bottom: 95%;*/
/*    }*/
/*}*/

/*@media (max-width: 700px) {*/
/*    .spinningSphere {*/
/*        width: 400px;*/
/*        height: 400px;*/
/*        right: -25%;*/
/*        bottom: 118%;*/
/*    }*/
/*}*/