.animate{
    transition: transform 1s;
}

.bottomAppear{
    transform: translateY(100%);
}

.bottomAppear.animate{
    transform: translateY(0%);
}

.rightAppear{
    transform: translateX(85%);
}

.rightAppear.animate{
    transform: translateX(0%);
}

.leftAppear{
    transform: translateX(-120%);
}

.leftAppear.animate{
    transform: translateX(0%);
}

.topAppear{
    transform: translateY(-200%);
}

.topAppear.animate{
    transform: translateX(0%);
}

.rotateAppear{
    transform: rotate(80deg);
}

.rotateAppear.animate{
    transform: rotate(0);
}