* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

:root {
    --background-color: #180E49;
    --hover-color: #f8bbd0;
    --hover-color-rgb: 248, 187, 208;
    --text-color: #D1C4E9;
}

body {
    background: var(--background-color);
    font-family: "Montserrat", sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    font-family: Angst, sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: white;
}

img {
    width: 100%;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    color: var(--hover-color);
}

.container {
    padding-right: 30px;
    padding-left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 1440px;
    width: 100%;
    position: relative;
}

.text {
    color: var(--text-color);
    line-height: 170%;
}

.combined-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.combined-heading .text {
    max-width: 700px;
    text-align: right;
}

.logo {
    font-family: Iglets, sans-serif;
    color: white;
}

.logo__large {
    font-size: 65px;
}

.logo__navbar {
    font-size: 33px;
    padding-bottom: 45px;
}

.logo__navbar:hover {
    color: var(--hover-color);
    transition: color 0.4s ease-in-out;
    font-weight: bold;
}

.mainBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    width: 100%;
}

.about {
    padding: 72px;
    z-index: 1;
    border: 1px solid rgba(245, 247, 250, 0.06);
    border-radius: 40px;
    max-width: 1440px;
    backdrop-filter: blur(109px);
    box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
    background: linear-gradient(135deg, rgba(245, 247, 250, 0.12) 0%, rgba(245, 247, 250, 0.06) 52.14%, rgba(245, 247, 250, 0) 100%);
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

.textBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.imgBlock {
    width: 100%;
    max-width: 400px;
    height: 400px;
}

.imgBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.container__mainBanner {
    align-items: flex-start;
}

.backgroundHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.backgroundHeading * {
    opacity: 0.7;
    font-weight: 800;
    font-size: 200px;
    text-align: center;
    background: linear-gradient(157deg, #311b92 0%, #006064 66.86%, #f8bbd0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Angst, sans-serif;
    justify-content: center;
}

.stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.stack_list, .stack_element, .stack_ul {
    display: flex;
    flex-direction: column;
}

.stack_list {
    gap: 50px;
    width: 50%;
    justify-content: space-between;
}

.stack_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stack_element {
    gap: 15px;
    width: 100%;
}

.stack_heading {
    line-height: 120%;
    font-weight: 600;
    font-size: 32px;
    background: linear-gradient(164deg, #651fff 0%, #d1c4e9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stack_ul {
    gap: 6px;
}

.stack_li {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #d1c4e9;
}

.about_background {
    position: absolute;
    right: -65%;
    bottom: -61%;
    rotate: 326deg;
}

.works {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__works {
    justify-content: space-evenly;
}

.works_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-left: 180px;
}

.works_background {
    position: absolute;
}

.works_background__left {
    left: 0;
}

.works_background__right {
    right: -20%;
    top: -15%;
}

.works_item {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.works_item:not(.current)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.51);
    z-index: 2;
}

.works_image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.works_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.works_item:not(.current) .works_name {
    bottom: 10px;
}

.works_name {
    font-size: 28px;
    color: #D1C4E9;
    text-align: center;
}

.works_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    z-index: 1;
    transition: bottom 0.5s ease-in-out;
}

.works_description::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    background: #180E49;
    filter: blur(30px);
}

.works_tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    opacity: 1;
    transform: translateY(0);
    height: 27px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.works_tag {
    color: #D1C4E9;
    border: 2px solid #D1C4E9;
    padding: 0 8px;
    height: 100%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.works_item:not(.current) .works_tags {
    transform: translateY(100%);
    opacity: 0;
    height: 0;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.gallery__item {
    border-radius: 40px;
    overflow: hidden;
    display: flex;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__col {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.gallery__row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.works-page {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
}

.works-button {
    color: #D1C4E9;
    border: 2px solid #D1C4E9;
    padding: 5px 20px;
    height: 100%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 20px;
}

.works-button_center{
    align-self: center;
}

.works-button.hidden{
    display: none;
}

.works-button .arrow{
    stroke: #D1C4E9;
    transition: transform 0.5s ease, d 0.5s ease;
}

.works-button .dot{
    transition: transform 0.5s ease;
    fill: #D1C4E9;
}

.works-button:hover .arrow {
    transform: translateX(-5px);
    stroke: var(--hover-color);
    d: path("M45 25 L0 25 L13 10 M0 25 L13 40");
}

.works-button:hover .dot{
    fill: var(--hover-color);
}

.works-button:hover .dot1 {
    transform: translateX(-10px);
}

.works-button:hover .dot2 {
    transform: translateX(-15px);
}

.works-button:hover .dot3 {
    transform: translateX(-20px);
}

.works-button:not(:hover) .arrow {
    d: path("M45 25 L0 25 L13 15 M0 25 L13 35");
}

.works-button:not(:hover) .dot1,
.works-button:not(:hover) .dot2,
.works-button:not(:hover) .dot3 {
    transform: translateX(0);
}

.works-button:hover{
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
}

.works-button_back .works-button__text{
    transition: transform 0.5s ease;
}

.works-button_back:hover .works-button__text{
    transform: translateX(-20px);
}

.error-text{
    font-size: 50px;
    color: var(--text-color);
    font-weight: 700;
}