* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

:root {
    --background-color: #180E49;
    --hover-color: #f8bbd0;
    --hover-color-rgb: 248, 187, 208;
    --text-color: #D1C4E9;
}

body {
    background: var(--background-color);
    font-family: "Montserrat", sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    font-family: Angst, sans-serif;
    font-size: 85px;
    font-weight: bold;
    color: white;
}

h1.dark {
    color: #180E49;
}

img {
    width: 100%;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

.container {
    padding-right: 30px;
    padding-left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 1440px;
    width: 100%;
    position: relative;
}

.text {
    color: var(--text-color);
    line-height: 170%;
}

.combined-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.combined-heading .text {
    max-width: 700px;
    text-align: right;
}

.logo {
    font-family: Iglets, sans-serif;
    color: white;
}

.logo__large {
    font-size: 65px;
}

.logo__navbar {
    font-size: 33px;
    padding-bottom: 10px;
}

.logo__navbar:hover {
    color: var(--hover-color);
    transition: color 0.4s ease-in-out;
    font-weight: bold;
}

.mainBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    width: 100%;
}

.about {
    padding: 72px;
    z-index: 1;
    border: 1px solid rgba(245, 247, 250, 0.06);
    border-radius: 40px;
    max-width: 1440px;
    backdrop-filter: blur(109px);
    box-shadow: 8px 8px 24px 0 rgba(9, 13, 20, 0.4), -4px -4px 8px 0 rgba(224, 224, 255, 0.04), 0 1px 1px 0 rgba(9, 13, 20, 0.4);
    background: linear-gradient(135deg, rgba(245, 247, 250, 0.12) 0%, rgba(245, 247, 250, 0.06) 52.14%, rgba(245, 247, 250, 0) 100%);
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

.textBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.imgBlock {
    width: 100%;
    max-width: 400px;
    height: 400px;
}

.imgBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.container_mainBanner {
    align-items: flex-start;
}

.backgroundHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.backgroundHeading * {
    opacity: 0.7;
    font-weight: 800;
    font-size: 200px;
    text-align: center;
    background: linear-gradient(157deg, #311b92 0%, #006064 66.86%, #f8bbd0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Angst, sans-serif;
    justify-content: center;
}

.stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.stack_list, .stack_element, .stack_ul {
    display: flex;
    flex-direction: column;
}

.stack_list {
    gap: 50px;
    width: 50%;
    justify-content: space-between;
}

.stack_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stack_element {
    gap: 15px;
    width: 100%;
}

.stack_heading {
    line-height: 120%;
    font-weight: 600;
    font-size: 32px;
    background: linear-gradient(164deg, #651fff 0%, #d1c4e9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stack_ul {
    gap: 6px;
}

.stack_li {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #d1c4e9;
}

.about_background {
    position: absolute;
    right: -65%;
    bottom: -61%;
    rotate: 326deg;
}

.works {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_works {
    justify-content: space-evenly;
}

.works_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-left: 180px;
}

.works_background {
    position: absolute;
}

.works_background__left {
    left: 0;
}

.works_background__right {
    right: -20%;
    top: -15%;
}

.works_item {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.works_item:not(.current)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.51);
    z-index: 2;
}

.works_image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.works_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.works_item:not(.current) .works_name {
    bottom: 10px;
}

.works_name {
    font-size: 28px;
    color: #D1C4E9;
    text-align: center;
}

.works_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    z-index: 1;
    transition: bottom 0.5s ease-in-out;
}

.works_description::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    background: #180E49;
    filter: blur(30px);
}

.works_tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    opacity: 1;
    transform: translateY(0);
    height: 27px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.works_tag {
    color: #D1C4E9;
    border: 2px solid #D1C4E9;
    padding: 0 8px;
    height: 100%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.works_item:not(.current) .works_tags {
    transform: translateY(100%);
    opacity: 0;
    height: 0;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.gallery__item {
    border-radius: 40px;
    overflow: hidden;
    display: flex;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__col {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.gallery__row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.works-page {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
}

.works-button {
    color: #D1C4E9;
    border: 2px solid #D1C4E9;
    padding: 5px 20px;
    height: 100%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 20px;
}

.works-button_center {
    align-self: center;
}

.works-button.hidden {
    display: none;
}

.works-button .arrow {
    stroke: #D1C4E9;
    transition: transform 0.5s ease, d 0.5s ease;
}

.works-button .dot {
    transition: transform 0.5s ease;
    fill: #D1C4E9;
}

.works-button:hover .arrow {
    transform: translateX(-5px);
    stroke: var(--hover-color);
    d: path("M45 25 L0 25 L13 10 M0 25 L13 40");
}

.works-button:hover .dot {
    fill: var(--hover-color);
}

.works-button:hover .dot1 {
    transform: translateX(-10px);
}

.works-button:hover .dot2 {
    transform: translateX(-15px);
}

.works-button:hover .dot3 {
    transform: translateX(-20px);
}

.works-button:not(:hover) .arrow {
    d: path("M45 25 L0 25 L13 15 M0 25 L13 35");
}

.works-button:not(:hover) .dot1,
.works-button:not(:hover) .dot2,
.works-button:not(:hover) .dot3 {
    transform: translateX(0);
}

.works-button:hover {
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
}

.works-button_back .works-button__text {
    transition: transform 0.5s ease;
}

.works-button_back:hover .works-button__text {
    transform: translateX(-20px);
}

.error-text {
    font-size: 50px;
    color: var(--text-color);
    font-weight: 700;
}

.price {
    width: 100%;
    background: linear-gradient(180deg, #84ffff 0%, #d3c4ee 77.18%, #f8bbd0 100%);
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(132, 255, 255, 0.5),
    0 0 60px rgba(132, 255, 255, 0.3),
    0 0 100px rgba(132, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.price-table__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.price-table__th, .price-table__td {
    padding: 6px 15px;
    text-align: left;
    border-bottom: 2px dashed #180E49;
}

.price-table__th {
    font-weight: bold;
    color: #180E49;
}

.price-table__td {
    text-align: right;
    color: #180E49;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.pricing-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.pricing-card__bg {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("/public/images/Price_card-background.png") no-repeat;
    background-size: 100% 100%;
    width: calc(100% + 60px);
    height: calc(100% + 30px);
    margin: -30px -30px 0 -30px;
}

.pricing-card:hover .pricing-card__bg {
    transform: translateY(0);
}

.pricing-card__title {
    font-size: 22px;
    color: #180E49;
    margin-bottom: 10px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
    transition: color 0.5s ease;
}

.pricing-card__price {
    font-size: 21px;
    color: #180E49;
    margin-bottom: 15px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
    transition: color 0.5s ease;
}

.pricing-card:hover .pricing-card__price, .pricing-card:hover .pricing-card__title {
    color: white;
}

.pricing-card__features {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.pricing-card__info {
    position: relative;
}

.pricing-card__features li {
    margin-bottom: 7px;
    border-bottom: 1px dashed #180E49;
    padding-bottom: 4px;
    color: #180E49;
}


.pricing-card__button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(248, 187, 208, 0.3);
    backdrop-filter: blur(10px);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.pricing-card__button:hover {
    background: rgba(248, 187, 208, 0.5);
    color: #180E49;
}

.price__subheading {
    font-size: 30px;
    font-weight: 600;
    color: #180E49;
}

.price-additions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.links {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container_links {
    gap: 15px;
}

.links-row{
    align-items: center;
}

.links__icons{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.links__card {
    position: relative;
    display: block;
}

.links__card_github {
    width: 230px;
    height: 230px;
    margin-top: 30px;
}

.links__card_tg {
    width: 270px;
    height: 270px;
    margin-left: 140px;
    margin-top: -75px;
}

.links__card_email {
    width: 180px;
    height: 180px;
    margin-top: -70px;
}

.links__card-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links__card_github .links__card-img {
    width: 100px;
    height: 100px;
}

.links__card_tg .links__card-img {
    width: 120px;
    height: 120px;
}

.links__card_tg .links__card-bg {
    transform: rotate(114deg);
}

.links__card_email .links__card-img {
    width: 80px;
    height: 80px;
}

.links-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 70px;
}

.links__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.links__background {
    position: absolute;
    right: 0;
    top: 0;
}

.links__card:hover .links__card-bg {
    transition: transform 0.5s ease;
    transform: rotate(200deg);
}

.rights {
    color: #D1C4E9;
    text-align: center;
}