.canvas--animated .puddle__letter {
    animation-play-state: running;
}

.puddle {
    position: relative;
    display: flex;
    white-space: pre;
}

.puddle__letter {
    transform: translateY(800px);
    padding: 0.1em 0.2em;
    margin: -0.1em -0.2em;
    will-change: transform;
    animation: drop 0.5s var(--delay) ease-out forwards paused;
}

.combined-puddles {
    position: relative;
    height: 100%;
    z-index: -1;
    filter: url(#drops-filter);
    user-select: none;
}

@keyframes drop {
    0% {
        transform: translate(0, 100vh);
    }
    85% {
        transform: translate(0, -0.15em);
    }
    100% {
        transform: translate(0, 0);
    }
}
