.carousel {
    position: relative;
}

.carouselContent {
    position: relative;
    width: 100%;
    margin: auto;
}

.carouselTrack {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carouselItem {
    display: block;
    transition: transform 0.5s ease-in-out;
    height: 275px;
    z-index: 3;
}

.carouselItem.current {
    z-index: 4;
}

.carouselButton {
    position: absolute;
    top: 50%;
    border: none;
    z-index: 2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: none;
}

.prevButton {
    left: 10px;
    transform: translateY(-50%);
}

.nextButton {
    right: 10px;
    transform: rotate(180deg) translateY(50%);
}

@media (max-width: 1350px) and (min-width: 901px) {
    .carouselItem {
        height: 220px;
    }
}

@media (min-width: 901px) {
    .carouselItem.current {
        transform: scale(1.5);
    }
}

@media (max-width: 901px) {
    .carouselItem {
        height: auto;
    }
}

@media (max-width: 700px) {
    .prevButton {
        left: -10px;
    }

    .nextButton {
        right: -10px;
    }
}

@media (max-width: 400px) {
    .carouselButton {
        width: 50px;
        height: 50px;
    }
}