.backDecorations{
    z-index: -1;
}

.backDecorations div{
    position: absolute;
}

.splinesSmallImage{
    top: -65%;
    rotate: 266deg;
    right: -20%;
}

.splinesLargeImage{
    left: 0;
    top: 44%;
}

.circleSmallImage{
    left: 19%;
    top: 30%;
}

.circleLargeImage{
    right: 4%;
    bottom: 5%;
}