.backDecorations{
    z-index: -1;
}

.backDecorations div{
    position: absolute;
}

.splinesSmallImage{
    top: -65%;
    rotate: 266deg;
    right: -20%;
}

.splinesLargeImage{
    left: 0;
    top: 44%;
}

.circleSmallImage{
    left: 19%;
    top: 30%;
}

.circleLargeImage{
    right: 4%;
    bottom: 5%;
}

@media (max-width: 700px) {
    .splinesSmallImage{
        left: -70px;
        top: 51%;
    }

    .splinesLargeImage{
        top: -30%;
        right: -55%;
        left: 41%;
    }
}